{% if site.disqus and site.disqus.shortname %}
  <div id="disqus_thread"></div>
  <script>
    var disqus_config = function () {
      this.page.url = "{{ site.url }}{{ page.url }}";
      this.page.identifier = "{{ page.url }}";
      this.page.title = "{{ page.title | escape }}";
    };
    (function () {
      var d = document;
      var s = d.createElement("script");
      s.src = "https://{{ site.disqus.shortname }}.disqus.com/embed.js";
      s.setAttribute("data-timestamp", +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>请启用 JavaScript 以查看评论。</noscript>
{% else %}
  <p>评论系统尚未配置。</p>
{% endif %}
